doctype html
html
	head
		include includes/meta
		title ABV Calculator -- adamtuechler
	body
		- var title = "ABV Calculator"
		include includes/navbar

		.image
			img(src="assets/img/abv.png")

		.container
			h3.title Technology Stack
			ul
				li
					p
						b Frontend - 
						| Angular

		.container
			h3.title Summary
			ul
				li
					p Doctor's ABV is a simply alcohol by volume calculator which is
					| used by bartenders at Centra Hotel.
				li
					p The tool allows the user to craft new drinks made of several
					| different ingredients and gauge their alcoholic content,
					| among other statistics.
